#countdown_gadget {
	width: 95%;
	min-height: 150px;
}

#body {
	margin-top: 20px;
	margin-bottom: 20px;
}

#header {

}

#footer {
	float: right;
	margin-right: 10px;
}

#countdown {
	width: 90%;
	margin: 0 auto;
}
